@import url("../font/Roboto-Regular.ttf");
@import url("../font/Roboto-Bold.ttf");
@import url("../font/MuseoSansCyrl-700.ttf");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 113.5rem;
  margin: 0 auto;
}

.header {
  position: absolute;
  padding-bottom: 9.4rem;
  top: 6.4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__logo {
  width: 7.9rem;
  height: 2.8rem;
  margin-right: 3.9rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav a:not(:last-child) {
  margin-right: 2.4rem;
}

.header__nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.header__social .header-icon {
  width: 1.7rem;
  height: 1.6rem;
}

.header__social-icon:not(:last-child) {
  margin-right: 2rem;
}

.main {
  color: #fff;
  padding-top: 18.7rem;
  padding-bottom: 10.4rem;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.main__description-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__button-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13.2rem;
  height: 13.2rem;
  border-radius: 50%;
  background-color: #391917;
  cursor: pointer;
  margin-left: 33.1rem;
}

.main__button-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #151515;
}

.main__rating-title {
  display: block;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

.main__rating-wrap img {
  width: 1.2rem;
  height: 1.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.main__rating-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.main__rating-wrap img:not(:last-child) {
  margin-right: 0.4rem;
}

.main__rating-numbers {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-left: 0.9rem;
}

.main__title {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.main__header {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 7.6rem;
  line-height: 120%;
}

.main__description {
  max-width: 52.8rem;
  font-size: 1.4rem;
  line-height: 150%;
  margin-bottom: 4.1rem;
}

.main__button {
  display: inline-block;
  padding: 2.2rem 7.2rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #fff;
  text-decoration: none;
  background: #151515;
  border-radius: 0.8rem;
  margin-bottom: 8.8rem;
}

.main-slider__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 41.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider__slide {
  position: relative;
  width: 16.4rem;
  height: 10.5rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.main-slider__slide span {
  position: absolute;
  left: 1.2rem;
  bottom: 0.6rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  font-size: 1rem;
  line-height: 1.2rem;
}

.main-slider__arrow {
  width: 3.2rem;
  height: 2.2rem;
  margin-left: 2.8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.main .container {
  display: block;
}

.footer {
  background: #030102;
  padding: 2rem 0;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #fff;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.footer__menu-item:not(:last-child) {
  margin-right: 2.5rem;
}

.footer__menu a {
  text-decoration: none;
  color: #fff;
}

.footer .container {
  opacity: 0.4;
}
/*# sourceMappingURL=style.css.map */