@import url('../font/Roboto-Regular.ttf');
@import url('../font/Roboto-Bold.ttf');
@import url('../font/MuseoSansCyrl-700.ttf');
*, 
*::before, 
*::after{
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 113.5rem;
  margin: 0 auto;
}

/*сетка*/
@media (max-width: 108em) {
  html {
      font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
      font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
      font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
      font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
      font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
      font-size: 7.2px
  }
}

@media (max-width: 72em) {
  html {
      font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
      font-size: 5.5px;
  }
}



@media (max-width: 44em) {
  html {
      font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
      font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
      font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
      font-size: 6px;
  }
}

@media (max-width: 26em) {
  html {
      font-size: 4.5px;
  }
}

@media (max-width: 21em) {
  html {
      font-size: 4.4px;
  }
}

/*сетка*/

.header {
  position: absolute;
  padding-bottom: 9.4rem;
  top: 6.4rem;
  left: 50%;
  transform: translateX(-50%);
  &__logo {
    width: 7.9rem;
    height: 2.8rem;
    margin-right: 3.9rem;
  }
  &__menu {
    display: flex;
    align-items: center;
  }
  &__menu-close {
    display: none;
  }
  &__nav-mobile {
    display: none;
  }
  &__nav a:not(:last-child) {
    margin-right: 2.4rem;
  }
  &__nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  &__social 
    &-icon {
      width: 1.7rem;
      height: 1.6rem;
    }
  &__social-icon:not(:last-child) {
    margin-right: 2rem;
  }
  &__socials {
    display: flex;
  }
}

.main {
  color: #fff;
  padding-top: 18.7rem;
  padding-bottom: 10.4rem;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  &__description-wrap {
    display: flex;
    align-items: center;
  }
  &__button-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.2rem;
    height: 13.2rem;
    border-radius: 50%;
    background-color: #391917;
    cursor: pointer;
    margin-left: 33.1rem;
  }
  &__button-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #151515;
  }
  &__button-dark img {
    width: 3.5rem;
    height: 4rem;
  }
  &__rating-title {
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
  }
  &__rating-wrap img {
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
    cursor: pointer;
  }
  &__rating-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__rating-wrap img:not(:last-child) {
    margin-right: 0.4rem;
  }
  &__rating-numbers {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-left: 0.9rem;
  }
  &__title {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  &__header {
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-size: 7.6rem;
    line-height: 120%;
  }
  &__description {
    max-width: 52.8rem;
    font-size: 1.4rem;
    line-height: 150%;
    margin-bottom: 4.1rem;
  }
  &__button {
    display: inline-block;
    padding: 2.2rem 7.2rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #fff;
    text-decoration: none;
    background: #151515;
    border-radius: 0.8rem;
    margin-bottom: 8.8rem;
  }
  &-slider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-slider__wrap {
    display: flex;
    max-width: 41.5rem;
    align-items: center;
  }
  &-slider__slide {
    position: relative;
    width: 16.4rem;
    height: 10.5rem;
    border-radius: 0.8rem;
    overflow: hidden;
  }
  &-slider__slide span {
    position: absolute;
    left: 1.2rem;
    bottom: 0.6rem;
    transform: translate(0, 0);
    font-size: 1rem;
    line-height: 1.2rem;
  }
  &-slider__arrow {
    width: 3.2rem;
    height: 2.2rem;
    margin-left: 2.8rem;
    flex-shrink: 0;
    cursor: pointer;
  }
}
.menu-burger {
  display: none;
}
.main .container {
  display: block;
}

.footer {
  background: #030102;
  padding: 2rem 0;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #fff;
  &__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  &__menu-item:not(:last-child) {
    margin-right: 2.5rem;
  }
  &__menu a {
    text-decoration: none;
    color: #fff;
  }
}
.footer .container {
  opacity: 0.4;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem 0;
  z-index: 100;
  &__inner {
    width: 100rem;
    height: 60rem;
  }
}
.active {
  display: flex;
}

@media (max-width: 48em) {
  html {
      font-size: 10px;
  }
  .container {
    width: 100%;
    padding: 0 3rem;
  }
  .header {
    display: none;
    width: 69.4%;
    background-color: #151515;
    top: 0;
    transform: translate(-28%, 0);
    padding: 4rem 0;
    z-index: 10;
    &__menu-close {
      display: block;
      position: absolute;
      right: 4rem;
      top: 4rem;
      width: 2.3rem;
      height: 2.3rem;
    }
    &__nav {
      display: none;
    }
    &__nav-mobile {
      display: flex;
      flex-direction: column;
    }
    &__nav-mobile a {
      color: #fff;
      text-decoration: none;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 114%;
    }
    &__nav-mobile a:not(:last-child) {
      padding-bottom: 1.7rem;
    }
    &__logo {
      margin-right: 0;
      margin-bottom: 3.5rem;
    }
    &__socials {
      margin-bottom: 2.3rem;
    }
  }

  .header .container, .header__menu {
    display: flex;
    flex-direction: column;
  }
  .menu-burger {
    display: block;
    position: absolute;
    right: 5%;
    top: 0;
    width: 5rem;
    height: 5rem;
  }

  .main {
    background-position: 66%;
    &__description-wrap {
      flex-direction: column;
    }
    &__description {
      margin-bottom: 5rem;
    }
    &__button-play {
      margin-left: 0;
      margin-bottom: 5rem;
    }
    &__button {
      margin-bottom: 4.4rem;
    }
    &-slider__arrow {
      display: none;
    }
    &-slider__wrap {
      max-width: 53.5%;
    }
  }

  .footer .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .modal {
    padding: 2rem;
    &__inner {
      width: 100%;
      height: 40rem;
    }
  }
}